ul.examples
    li
        a(href="binding.html") Manual Binding
    li
        a(href="congress.html") Long Go Congress results
    li
        a(href="raw.html") Raw results from Macmahon & OpenGotha
    li
        a(href="webComponent.html") Go Results Web Component
