* {
    margin: 0;
    padding: 0;
}

body {
    color: #2F2A1C;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12pt;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

header,
article,
footer {
    padding: 2% 4%;
}

header {
    background: #879759;
}

header h1 {
    padding: 0 5px;
    color: #282C1B;
}

header h3 {
    padding: 0 5px;
    color: #4D5439;
}

article .note {
    margin: 10px 0;
    font-style: italic;
}

article table {
    border: none;
}

article .wrapper {
    overflow: auto;
    padding: 5px 0;
}

article table td,
article table th {
    padding: 3px 5px;
    text-align: left;
}

article table td {
    cursor: pointer;
}

nav {
    background: #7D9CAD;
    padding: 0 3%;
}

nav a {
    padding: 10px;
    color: #ffffff;
    display: inline-block;
    margin-right: 5px;
}

aside a:hover {
    background: #1D475D;
}