[data-go-results] {
    &.go-results-rearranged [data-go-place] {
        opacity: 0.2;
        cursor: pointer;
    }

    .go-results- {
        &current[data-go-place] {
            background-color: #d2d2d2;
            color: #000000;
            cursor: pointer;
            opacity: 1;
        }

        &current &game {
            background-color: #a7a7a7;
        }

        &won[data-go-place] {
            background-color: #799B29;
            color: #000000;
            opacity: 1;
        }

        &won &game {
            background-color: #5A6A2C;
            color: #ffffff;
        }

        &lost[data-go-place] {
            background-color: #D97962;
            color: #000000;
            opacity: 1;
        }

        &lost &game {
            background-color: #A5422B;
            color: #ffffff;
        }

        &jigo[data-go-place] {
            background-color: #D7C3D1;
            color: #000000;
            opacity: 1;
        }

        &jigo &game {
            background-color: #9E7593;
        }

        &unresolved {
            background-color: #CBDCE5;
            color: #000000;
        }

        &unresolved &game {
            background-color: #7D9CAD;
        }
    }
}
