extends ../../template/layout.jade

block variables
    - base = "../"
    - active = "examples"

block title
    title Manual Binding Examples - Go Results Highlighter

block content
    .content
        include ../../template/examples.nav.jade

    article
        .content.docs
            h1 Manual binding
            p To be described ...

            h1 jQuery binding
            p To be described ...