extends ../../template/layout.jade

block variables
    - base = "../"
    - active = "examples"

block title
    title Manual Binding Examples - Go Results Highlighter

block content
    .content
        include ../../template/examples.nav.jade

    article
        .content.docs
            h1 Manual binding

            #binding-example-1.wrapper
                include ../../resources/macmahon.html

            button(rel="binding-example-1") Add Go Results Highlighter!

            pre
                code.language-html
                    = "<!-- html -->\n"
                    = "<table id=\"binding-example-1\"><!-- results placeholder --></table>\n"
                    = "<button rel=\"binding-example-1\">Add Go Results Highlighter!</button>"

                code.language-js
                    = "// javascript\n"
                    include ../../scripts/binding-example-1.js

            h1 jQuery binding

            #binding-example-2.wrapper
                include ../../resources/macmahon.html

            button(rel="binding-example-2") Add Go Results Highlighter!

            pre
                code.language-html
                    = "<!-- html -->\n"
                    = "<table id=\"binding-example-2\"><!-- results placeholder --></table>\n"
                    = "<button rel=\"binding-example-2\">Add Go Results Highlighter!</button>"

                code.language-js
                    = "// javascript\n"
                    include ../../scripts/binding-example-2.js