extends ../../template/layout.jade

block variables
    - base = "../"
    - active = "examples"

block title
    title Configuration & Customization - Go Results Highlighter

block content
    .content
        include ../../template/examples.nav.jade

    article
        .content.docs
            h1 Hovering & clicking
            p To be described ...

            h1 Nonstandard tags and structure
            p To be described ...

            h1 Nonstandard results
            p To be described ...

            h1 Custom styling
            p To be described ...