extends ../../template/layout.jade

block variables
    - base = "../"
    - active = "examples"

block title
    title Raw results parsing - Go Results Highlighter

block content
    .content
        include ../../template/examples.nav.jade

    article
        .content.docs
            h1 Raw results from Macmahon
            p To be described ...

            h1 Raw results from OpenGotha
            p To be described ...