extends ../../template/layout.jade

block variables
    - base = "../"
    - active = "examples"

block title
    title Raw results parsing - Go Results Highlighter

block content
    .content
        include ../../template/examples.nav.jade

    article
        .content.docs
            h1 Raw results from Macmahon

            h3 Input:
            pre
                code.language-html
                    = "<pre data-go-results>\n"
                    include ../../resources/macmahon.raw.txt
                    = "</pre>"

            h3 Output:
            pre(data-go-results)
                include ../../resources/macmahon.raw.txt



            h1 Raw results from OpenGotha
            p To be described ...