.features {
    p {
        margin: 5px;
        font-size: 1.3em;
        font-style: italic;

        span.octicon {
            margin-right: 10px;
        }
    }
}

.home-results {
    table {
        font-size: 1.2em;
    }
}