.features {
    p {
        margin: 15px 20px 10px;
        font-size: 1.2em;
        font-style: italic;

        span.octicon {
            margin-right: 10px;
        }
    }
}

.home-results {
    table {
        font-size: 1.1em;
    }
}
