.features {
    p {
        margin: 15px 20px 10px;
        font-size: 1.2em;
        font-style: italic;

        &.badges {
            margin: 0;

            a {
                margin-right: 5px;
            }
        }

        span.octicon {
            margin-right: 10px;
        }
    }
}

@btnBgColor: rgb(101, 131, 36);

.home-results {
    .bookmark {
        text-align: center;

        a {
            font-size: 1.3em;
            position: relative;
            color: rgba(255,255,255,1);
            text-decoration: none;
            background-color: rgb(121, 155, 41);
            font-weight: normal;
            display: block;
            padding: 5px 4px;
            border-radius: 8px;
            box-shadow: 0px 9px 0px @btnBgColor, 0px 7px 25px rgba(0,0,0,.7);
            transition: all .1s ease;
            width: 250px;
            margin: 0 auto 20px;
            text-align: center;

            &:active {
                box-shadow: 0px 3px 0px @btnBgColor, 0px 3px 6px rgba(0,0,0,.9);
            }

            &:hover {
                background-color: rgb(130, 164, 44);
            }
        }
    }

    table {
        font-size: 1.1em;
    }
}
