.go-results- {
    &table {
        position: relative;
    }

    &overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);

        & > :first-child {
            position: absolute;
            width: 100%;
        }
    }

    &current td {
        background-color: #d2d2d2;
    }

    &current &game {
        background-color: #a7a7a7;
    }

    &won td {
        background-color: #799B29
    }

    &won &game {
        background-color: #5A6A2C;
        color: #ffffff;
    }

    &lost td {
        background-color: #D97962;
    }

    &lost &game {
        background-color: #A5422B;
        color: #ffffff;
    }

    &jigo td {
        background-color: #D7C3D1
    }

    &jigo &game {
        background-color: #9E7593;
    }

    &unresolved td {
        background-color: #CBDCE5
    }

    &unresolved &game {
        background-color: #7D9CAD;
    }
}